@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
* {
	box-sizing: border-box;
	transition: all 0.3s;
	padding: 0;
	margin: 0;
	font-family: "Helvetica", Arial, sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
*::-webkit-scrollbar {
	width: 4px; /* width of the entire scrollbar */
	z-index: 500;
}
*::-webkit-scrollbar-track {
	background: rgba(0, 0, 255, 0); /* color of the tracking area */
	z-index: 500;
}
*::-webkit-scrollbar-thumb {
	background-color: blue; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	z-index: 500;
}
#product-image:hover .purchase-btn {
	display: flex;
}
