@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
* {
	box-sizing: border-box;
	transition: all 0.3s linear;
	padding: 0;
	margin: 0;
	font-family: "Helvetica", Arial, sans-serif;
}
*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}
